In [3]:
import pandas as pd

In [5]:
df = pd.read_excel('myExcelFile.xlsx', sheet_name='my_data')

In [7]:
df

     A    B    C
0    0    0    0
1    1    1   50
2    2    4  100
3    3    9  150
4    4   16  200
5    5   25  250
6    6   36  300
7    7   49  350
8    8   64  400
9    9   81  450
10  10  100  500

In [13]:
df.to_excel('myNewExcelFile2.xlsx', sheet_name='my_new_data')

PermissionError: [Errno 13] Permission denied: 'myNewExcelFile2.xlsx'

In [11]:
writer = pd.ExcelWriter('pandas_simple3.xlsx')
df.to_excel(writer, sheet_name='my_dfs')
df.to_excel(writer, sheet_name='my_dfs', startcol=6, startrow=5, index=False)
writer.close()

In [15]:
writer = pd.ExcelWriter('many_sheets.xlsx')

df.to_excel(writer, sheet_name='my_df1')
df.to_excel(writer, sheet_name='my_df2')

writer.close()

In [17]:
writer = pd.ExcelWriter('add_chart.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='my_chart')

In [19]:
workbook = writer.book
worksheet = writer.sheets['my_chart']

In [21]:
chart = workbook.add_chart({'type':'line'})

In [23]:
def grab_series(df, sheet_name, colname, startcol=0, startrow=0):

    col_index = df.columns.tolist().index(colname)
    col_letter = chr(ord('@')+(col_index+2+startcol))
    first_row = startrow + 2
    last_row = startrow + 1 + len(df)
    return f"='{sheet_name}'!{col_letter}{first_row}:{col_letter}{last_row}"

In [25]:
chart.add_series({'values':grab_series(df,'my_chart','B')})

In [27]:
chart.set_x_axis({
    'name': 'x^2',
    'name_font': {'size': 14, 'bold': True},
    'num_font':  {'italic': True },
})

In [29]:
chart.set_legend({'none': True})

In [31]:
worksheet.insert_chart('F2', chart)

0

In [35]:
writer.close()
workbook.close()

C:\Users\Start\anaconda3\Lib\site-packages\xlsxwriter\workbook.py:369: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [37]:
writer = pd.ExcelWriter('conditional_format.xlsx')

df.to_excel(writer, sheet_name='my_conditional')

workbook = writer.book
worksheet = writer.sheets['my_conditional']

In [39]:
format1 = workbook.add_format({'bg_color':   '#FFC7CE',
                               'font_color': '#9C0006'})

In [41]:
worksheet.conditional_format("D2:D12",{'type': 'cell',
                                      'criteria':'>=',
                                      'value':300,
                                      'format':format1})

0

In [43]:
worksheet.write_string('A16','Podaj liczbę całkowitą większą od 0:')

0

In [45]:
worksheet.data_validation('B16', {
    'validate':'integer',
    'criteria':'>',
    'value':0
})

0

In [47]:
worksheet.set_column('A:A',35)

0

In [49]:
writer.close()
workbook.close()

C:\Users\Start\anaconda3\Lib\site-packages\xlsxwriter\workbook.py:369: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [51]:
data = pd.read_html('https://pl.wikipedia.org/wiki/Miasta_w_Polsce', header=0)

In [53]:
type(data)

list

In [55]:
data[0]

,Lp.,Miasto,Województwo,Liczba mieszkańców,Gęstość zaludnienia [osoby/km²]
0,1.0,Warszawa,mazowieckie,1 861 975,3 600
1,2.0,Kraków,małopolskie,803 282,2 458
2,3.0,Wrocław,dolnośląskie,674 079,2 302
3,4.0,Łódź,łódzkie,658 444,2 245
4,5.0,Poznań,wielkopolskie,541 316,2 067
5,6.0,Gdańsk,pomorskie,486 345,712
6,7.0,Szczecin,zachodniopomorskie,391 566,1 303
7,8.0,Lublin,lubelskie,331 243,2 246
8,9.0,Bydgoszcz,kujawsko-pomorskie,330 038,1 876
9,10.0,Białystok,podlaskie,292 600,2 865

In [57]:
data[1]

    Lp.        Miasto         Województwo Powierzchnia [ha]
0   1.0        Gdańsk           pomorskie            68 300
1   2.0      Warszawa         mazowieckie            51 720
2   3.0        Gdynia           pomorskie            39 151
3   4.0        Kraków         małopolskie            32 685
4   5.0      Szczecin  zachodniopomorskie            30 062
5   6.0          Łódź             łódzkie            29 325
6   7.0       Wrocław        dolnośląskie            29 281
7   8.0  Zielona Góra            lubuskie            27 827
8   9.0        Poznań       wielkopolskie            26 191
9  10.0   Świnoujście  zachodniopomorskie            20 207

In [59]:
best_selling_albums = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

In [61]:
best_selling_albums[0]

,POS,TITLE,ARTIST,YEAR,HIGH POSN
0,1,GREATEST HITS,QUEEN,1981,1
1,2,GOLD - GREATEST HITS,ABBA,1992,1
2,3,SGT PEPPER'S LONELY HEARTS CLUB BAND,BEATLES,1967,1
3,4,21,ADELE,2011,1
4,5,WHAT'S THE STORY MORNING GLORY,OASIS,1995,1
5,6,THRILLER,MICHAEL JACKSON,1982,1
6,7,THE DARK SIDE OF THE MOON,PINK FLOYD,1973,2
7,8,BROTHERS IN ARMS,DIRE STRAITS,1985,1
8,9,BAD,MICHAEL JACKSON,1987,1
9,10,GREATEST HITS II,QUEEN,1991,1
10,11,RUMOURS,FLEETWOOD MAC,1977,1
11,12,THE IMMACULATE COLLECTION,MADONNA,1990,1
12,13,BACK TO BLACK,AMY WINEHOUSE,2006,1
13,14,STARS,SIMPLY RED,1991,1
14,15,COME ON OVER,SHANIA TWAIN,1997,1
15,16,LEGEND,BOB MARLEY & THE WAILERS,1984,1
16,17,BACK TO BEDLAM,JAMES BLUNT,2004,1
17,18,URBAN HYMNS,VERVE,1997,1
18,19,BAT OUT OF HELL,MEAT LOAF,1977,9
19,20,1,BEATLES,2000,1
20,21,BRIDGE OVER TROUBLED WATER,SIMON & GARFUNKEL,1970,1
21,22,DIRTY DANCING,ORIGINAL SOUNDTRACK,1987,4
22,23,SPIRIT,LEONA LEWIS,2007,1
23,24,CRAZY LOVE,MICHAEL BUBLE,2009,1
24,25,NO ANGEL,DIDO,2000,1
25,26,WHITE LADDER,DAVID GRAY,1998,1
26,27,25,ADELE,2015,1
27,28,TALK ON CORNERS,CORRS,1997,1
28,29,SPICE,SPICE GIRLS,1996,1
29,30,THE FAME,LADY GAGA,2008,1
30,31,A RUSH OF BLOOD TO THE HEAD,COLDPLAY,2002,1
31,32,LIFE FOR RENT,DIDO,2003,1
32,33,ONLY BY THE NIGHT,KINGS OF LEON,2008,1
33,34,BEAUTIFUL WORLD,TAKE THAT,2006,1
34,35,HOPES AND FEARS,KEANE,2004,1
35,36,THE JOSHUA TREE,U2,1987,1
36,37,THE WAR OF THE WORLDS,JEFF WAYNE,1978,5
37,38,SCISSOR SISTERS,SCISSOR SISTERS,2004,1
38,39,BUT SERIOUSLY,PHIL COLLINS,1989,1
39,40,X&Y,COLDPLAY,2005,1
40,41,JAGGED LITTLE PILL,ALANIS MORISSETTE,1995,1
41,42,TUBULAR BELLS,MIKE OLDFIELD,1973,1
42,43,THE MAN WHO,TRAVIS,1999,1
43,44,TRACY CHAPMAN,TRACY CHAPMAN,1988,1
44,45,PARACHUTES,COLDPLAY,2000,1
45,46,GREATEST HITS,ABBA,1975,1
46,47,GREASE,ORIGINAL SOUNDTRACK,1977,1
47,48,I'VE BEEN EXPECTING YOU,ROBBIE WILLIAMS,1998,1
48,49,X,ED SHEERAN,2014,1
49,50,COME AWAY WITH ME,NORAH JONES,2002,1
50,51,GRACELAND,PAUL SIMON,1986,1
51,52,THE SOUND OF MUSIC,ORIGINAL CAST RECORDING,1965,1
52,53,LADIES & GENTLEMEN - THE BEST OF,GEORGE MICHAEL,1998,1
53,54,TANGO IN THE NIGHT,FLEETWOOD MAC,1987,1
54,55,THE MARSHALL MATHERS LP,EMINEM,2000,1
55,56,SWING WHEN YOU'RE WINNING,ROBBIE WILLIAMS,2001,1
56,57,PROGRESS,TAKE THAT,2010,1
57,58,EYES OPEN,SNOW PATROL,2006,1
58,59,NEVER FORGET - THE ULTIMATE COLLECTION,TAKE THAT,2005,2
59,60,AUTOMATIC FOR THE PEOPLE,REM,1992,1

In [71]:
bestsellers_albums = best_selling_albums[0]

In [73]:
bestsellers_albums.to_excel("best_selling_albums.xlsx", index=False)

In [75]:
rows_names = {'TITLE': ['Album1', 'Album2'], 'ARTIST': ['Artist1', 'Artist2'], 'YEAR': [1999, 2000], 'PEAK POS': [1, 2]}
new_names = pd.DataFrame(rows_names)

# Zamiana nagłówków kolumn na polskie odpowiedniki
new_names = new_names.rename(columns={
    'TITLE': 'TYTUŁ',
    'ARTIST': 'ARTYSTA',
    'YEAR': 'ROK',
    'HIGH POSN': 'MAX POZ'
})

print(new_names)

    TYTUŁ  ARTYSTA   ROK  PEAK POS
0  Album1  Artist1  1999         1
1  Album2  Artist2  2000         2

In [95]:
writer = pd.ExcelWriter('conditional_format.xlsx')

bestsellers_albums.to_excel(writer, sheet_name='my_conditional')

workbook = writer.book
worksheet = writer.sheets['my_conditional']

In [109]:
bs.rename(str.capitalize, axis='columns')

NameError: name 'bs' is not defined